Image_Captioning.json
{
  "name": "Image Captioning",
  "nodes": [
    {
      "parameters": {
        "content": "Placeholder for Image Captioning",
        "height": 530,
        "width": 1100,
        "color": 5
      },
      "id": "768f0a49-6194-4b5b-bae4-da7a75b14e7d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1024,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "image-captioning",
        "options": {}
      },
      "id": "25758a09-be44-4ac0-b247-7d10421f9204",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -848,
        240
      ],
      "webhookId": "a7080975-2056-4516-b4fe-3ff8ed11f9f2"
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 40
      },
      "id": "dea59bfa-3554-4684-a3b5-02acbc34ba03",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -672,
        240
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "07caca94-bfdb-4558-817b-3c086aaee592",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -480,
        240
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "weaviateCollection": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "c5655cae-18e7-42c3-8305-c88cfaa9c205",
      "name": "Weaviate Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreWeaviate",
      "typeVersion": 1,
      "position": [
        -304,
        336
      ]
    },
    {
      "parameters": {
        "weaviateCollection": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "12a8b024-9074-4b1b-8957-d963f62cfe8a",
      "name": "Weaviate Query",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreWeaviate",
      "typeVersion": 1,
      "position": [
        -352,
        160
      ]
    },
    {
      "parameters": {
        "name": "Weaviate",
        "description": "Vector context"
      },
      "id": "e25abdfc-2f5d-4713-a640-fdba8c63d225",
      "name": "Vector Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -112,
        48
      ]
    },
    {
      "parameters": {},
      "id": "40cc4b7a-55b2-4e1f-9137-b55ec4399a2b",
      "name": "Window Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        448
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20240620",
        "options": {}
      },
      "id": "3b378aec-a8dd-4621-87f3-48e8fef4afb6",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [
        112,
        448
      ]
    },
    {
      "parameters": {
        "text": "Handle data",
        "options": {
          "systemMessage": "You are an assistant for Image Captioning"
        }
      },
      "id": "38ebc3ee-cfc6-4acc-bf5e-d7bd01c719ce",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        176,
        192
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "SHEET_ID",
          "mode": "list",
          "cachedResultName": "Image Captioning"
        },
        "sheetName": {
          "__rl": true,
          "value": "Log",
          "mode": "list",
          "cachedResultName": "Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": "Status",
          "schema": []
        },
        "options": {}
      },
      "id": "58294040-6618-4c9b-b154-c005cc2e1e37",
      "name": "Append Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        384,
        192
      ]
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "Image Captioning error: {$json.error.message}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "4c60a883-d707-4e4a-a622-b0ea70d0229d",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        384,
        352
      ]
    }
  ],
  "connections": {
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Weaviate Insert",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Weaviate Query",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Weaviate Query": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Vector Tool": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "Append Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null
}
