T41j80vfK1d7jBYJ-Airdrops_io_Full_Scraper.json
{
  "name": "Airdrops.io Full Scraper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1216,
        -128
      ],
      "id": "491078a6-1b31-4f8c-99c7-98d3cba9f923",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://airdrops.io/project-sitemap1.xml",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        -128
      ],
      "id": "07c28d6c-7bd6-4c37-b70b-9724215bc46d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Ensure input exists\nconst xmlString = items[0]?.json?.body || \"\";\n\n// Regex to extract <loc> tags\nconst locMatches = [...xmlString.matchAll(/<loc>(.*?)<\\/loc>/g)];\n\n// Map matches to n8n format\nlet outputItems = locMatches.map(match => ({ json: { url: match[1].trim() } }));\n\n// Always return at least one item to prevent workflow stopping\nif (outputItems.length === 0) {\n    outputItems = [{ json: { url: \"https://airdrops.io\" } }];\n}\n\nreturn outputItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        -128
      ],
      "id": "7d1a485c-b9cb-4ac0-ae6f-0bc2710050a7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -592,
        -128
      ],
      "id": "57363648-22fc-4509-a32e-55c0f1ffec26",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        -224
      ],
      "id": "545248da-7a92-4273-94be-52994fea6d3b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const html = items[0]?.json?.body || \"\";\n\nconst results = [];\n\nconst titleMatch = html.match(/<h1.*?>(.*?)<\\/h1>/);\nconst descMatch = html.match(/<meta name=\"description\" content=\"(.*?)\"/);\nconst claimMatch = html.match(/href=\"(.*?)\"[^>]*>CLAIM AIRDROP/);\n\nresults.push({\n  json: {\n    url: items[0].json.url,\n    title: titleMatch ? titleMatch[1].trim() : \"\",\n    description: descMatch ? descMatch[1].trim() : \"\",\n    claim_link: claimMatch ? claimMatch[1].trim() : \"\"\n  }\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        32
      ],
      "id": "beaeb964-764b-4e19-bf4d-029bcc0bd618",
      "name": "Code in JavaScript1"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "pinData": {},
  "triggerCount": 1,
  "meta": null
}